body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.container{
    background-color: #E8E3DD;
    width: 100%;
}

.head{
    background-color: #F2B705;
    width: 100%;
}

.logo{
    float: left;
    margin: 10px;
    width: 3%;
}

.ez{
    float: left;
    margin-top: 20px;
}

div.head ul {
	overflow:hidden;
	list-style: none;
	float: right;
	padding: 0px;
	margin: 15 0 0;
}

div.head ul li {
    margin:auto;
    display: inline-block;
    color: black;
}
 
div.head ul a {
    color: black;
	padding:20px;
	font-weight:600;
	font-size: 18px;
	transition: all 0.5s ease;
	text-decoration: none;
}
 
div.head ul a:hover {
    opacity: 70%;
    text-decoration: underline;
}

a.bold{
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
}

.headpic{
    clear: both;
    width: 15%;
    margin-left: 415px;
    padding: 50px 0 10px 0;
}

.judul{
    text-align: center;
    padding: 0 0 50px 0;
}

div.content{
    width: 70%;
    margin: -50px 0 80px 200px;
    box-shadow: 0px 0px 10px #aaa;
    background-color: #E8E3DD;
}

.sec1{
    text-align: justify;
    margin: 0 0 0 30;
    width: 40%;
    clear: both;
    float: left;
}

.pic1{
    margin: 0 0 30 0;
    padding: 30px;
}

div.pic1 img{
    width: 430px;
    height: 250px;
    margin-left: 30px;
}

.sec2{
    text-align: justify;
    margin: 0 0 0 30;
    width: 40%;
    clear: both;
    float: left;
}

.pic2{
    margin: 0 0 30 0;
    padding: 30px;
}

div.pic2 img{
    width: 430px;
    height: 250px;
    margin-left: 30px;
}

.footer{
    clear: both;
    background-color: #F2B705;
    width: 100%;
    height: 50px;
    text-align: center;
}

.footer div{
    margin-top: -20px;
    padding-top: 15px;
}

@media screen and (max-width: 720px) {
	.container{
	}

	.head{
		text-align: center;
	}

	.logo{
		float: left;
		width: 10%;
		text-align: center;
		margin: 20px 10px 0 120px;
	}

	.ez{
		margin-top: 33px;
	}

	div.head ul {
		clear: both;
		overflow:hidden;
		list-style: none;
		text-align: center;
		padding: 0px;
		margin: 15 115px 0;
	}
	
	div.head ul li {
		display: inherit;
		color: black;
		margin-top: 30px;
		width: 100%;
		border-bottom: 1px solid black;
	}
	 
	div.head ul a {
		color: black;
		padding:20px;
		font-weight:600;
		font-size: 25px;
		transition: all 0.5s ease;
		text-decoration: none;
	}
	 
	div.head ul a:hover {
		opacity: 70%;
    }
    
    .headpic{
        width: 50%;
        margin: 0;
    }

    .judul{

    }

    div.content{
        width: 95%;
        margin: 0;
        box-shadow: none;
        margin: auto;
        margin-bottom: 60px;
    }

    .sec1{
        margin: 0;
        float: none;
        width: 90%;
        margin-left: 20px;
    }

    .pic1{
        padding: 0;
    }

    div.pic1 img{
        width: 250px;
        height: 160px;
        margin: 0;
        margin-left: 40px;
    }

    .sec2{
        margin: 0;
        float: none;
        width: 90%;
        margin-left: 20px;
    }

    .pic2{
        padding: 0;
    }

    div.pic2 img{
        width: 250px;
        height: 160px;
        margin: 0;
        margin-left: 40px;
    }

    p{
        font-size: 20px;
    }
}