body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.container{
    background-color: #E8E3DD;
    width: 100%;
}

.head{
    background-color: #F2B705;
    width: 100%;
}

.logo{
    float: left;
    margin: 10px;
    width: 3%;
}

.ez{
    float: left;
    margin-top: 20px;
}

div.head ul {
	overflow:hidden;
	list-style: none;
	float: right;
	padding: 0px;
	margin: 15 0 0;
}

div.head ul li {
    margin:auto;
    display: inline-block;
    color: black;
}
 
div.head ul a {
    color: black;
	padding:20px;
	font-weight:600;
	font-size: 18px;
	transition: all 0.5s ease;
	text-decoration: none;
}
 
div.head ul a:hover {
    opacity: 70%;
    text-decoration: underline;
}

a.bold{
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
}

.welcome{
	clear: both;
	text-align: center;
	font-size: 25px;
	padding: 250px;
}

.sec1{
	width: 70%;
	margin: 50px 0 30px 200px;
	height: 465px;
    box-shadow: 0px 0px 10px #aaa;
    background-color: #E8E3DD;
}

.sec1 img{
	float: left;
	width: 65%;
	margin: 20px;
}

.sec1 h1{
	padding-top: 20px;
}

.sec1 p{
	width: 97%;
	text-align: justify;
}

.sec2{
	text-align: center;
}

.sec2 h4{
	color: #F2B705;
}

.boxes{
	margin-left: 200px;
	margin-bottom: 200px;
}

.box{
	float: left;
	text-align: center;
	width: 15%;
	margin-left: 50px;
    box-shadow: 0px 0px 10px #aaa;
    background-color: #383938;
}

.box img{
	width: 50px;
	height: 50px;
	padding-top: 20px;
}

.next{
	text-align: center;
}

.buttons{
	margin-left: 250px;
	margin-bottom: 150px;
}

.button{
	padding: 30px;
	float: left;
	width: 20%;
	background-color: #F2B705;
	margin-left: 100px;
}

.button a.passion{
	padding: 30px 50px 30px 50px;
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 24px;
}

.button a.pendidikan{
	padding: 30px 50px 30px 40px;
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 24px;
}

.button:hover {
	background-color: #D3A42F;
	cursor: pointer;
}

.footer{
    clear: both;
    background-color: #F2B705;
    width: 100%;
    height: 50px;
    text-align: center;
}

.footer div{
    margin-top: 20px;
    padding-top: 15px;
}

@media screen and (max-width: 720px) {
	.container{
	}

	.head{
		text-align: center;
	}

	.logo{
		float: left;
		width: 10%;
		text-align: center;
		margin: 20px 10px 0 120px;
	}

	.ez{
		margin-top: 33px;
	}

	div.head ul {
		clear: both;
		overflow:hidden;
		list-style: none;
		text-align: center;
		padding: 0px;
		margin: 15 115px 0;
	}
	
	div.head ul li {
		display: inherit;
		color: black;
		margin-top: 30px;
		width: 100%;
		border-bottom: 1px solid black;
	}
	 
	div.head ul a {
		color: black;
		padding:20px;
		font-weight:600;
		font-size: 25px;
		transition: all 0.5s ease;
		text-decoration: none;
	}
	 
	div.head ul a:hover {
		opacity: 70%;
	}

	.welcome{
		padding: 30px;
		text-align: center;
	}

	.sec1{
		margin: 0;
		width: 95%;
		box-shadow: none;
		background-color: none;
		text-align: center;
	}

	.sec1 h1{
		padding: 0;
		margin-left: 20px;
	}

	.sec1 img{
		float: none;
		width: 80%;
		margin-left: 40px;
	}

	.sec1 p{
		width: 93%;
		margin: 0 20px 0 20px;
		font-size: 20px;
	}

	.sec2{
		margin-top: 70px;
	}

	.boxes{
		margin: 0;
		margin-left: 13px;
	}

	.box{
		width: 40%;
		margin-left: 20px;
		margin-top: 20px;
	}

	.next{
		clear: both;
		margin-top: 375px;
	}

	.buttons{
		margin: 0 0 150px -15;
	}

	.button{
		padding: 30px 60px 30px 15px;
		margin-left: 30px;
	}

	.button a.passion{
		padding: 0;
		padding-left: 20px;
	}

	.button a.pendidikan{
		padding: 0;
	}
}